# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Build
build/
dist/

# Environment
.env

# Docker
*.local
docker-compose.override.yml
docker-volume/

# Logs
*.log

# Editor & OS files
.DS_Store
*.swp
.idea/
.vscode/

# MongoDB data (caso montado volume local)
data/
db/
initdb.d/
docker-entrypoint-initdb.d/

# Arquivos temporários ou runtime
*.pid
*.sock
*.db
/tmp/