# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Environment
.env

# Docker
*.local
docker-compose.override.yml
docker-volume/

# Logs
*.log

# Editor & OS files
.DS_Store
*.swp
.idea/
.vscode/
